<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="../../public/css/index.css">

    <title>Les trésors de One Piece</title>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-bluedark p-2">
    <div class="d-flex align-item-center navigation">
        <div class="titrebanniere">LES TRESORS DE ONE PIECE</div>
        <div class="d-flex" id="image">
            <a href="inscription.html">
                <img src="../../public/img/items/user1.png" >
            </a>
            <a href="panier.html">
                <img src="../../public/img/items/shop.png" >
            </a>

        </div>
    </div>
    <span class="navbar-brand"></span>
    <button class="navbar-toggler" type="button"  data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav m-md-3 m-ms-3">

            <li class="nav-item">
                <a class="nav-link " href="../../index.html" id="Accueil">ACCUEIL</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="figurines.html" id="figurines">FIGURINES</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="livres.html" id="livres">LIVRES</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="dvd.html" id="dvd">DVD & BLU-RAY</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="vetements.html" id="vetements">VETEMENTS</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="goodies.html" id="goodies">GOODIES</a>
            </li>
        </ul>
    </div>
</nav>

</body>
</html>