body
{
    background-color:#f7f7f7;
}

li
{
    list-style-type: none;
}

.titrebanniere
{
    color: aliceblue;
    margin-left: 30%;
    width: 20em;
}

.card-text
{
    font-size: 200%;
}
footer
{

}
.bg-bluedark
{
    background-color: #333F50;
}

#icone
{
position: absolute;
    top: 0.5em;
}
#image
{
    position: absolute;
    right: 0;
}

.navigation
{
    height: 50px;
}

