body{
    background-color:#f7f7f7;
}

li{
    list-style-type: none;
}

.titrebanniere{
    color: aliceblue;
}

.card-text{
    font-size: 200%;
}
footer{

}
.bg-bluedark{
    background-color: #333F50;
}

