{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}
{% block titi %}
{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset("/libs/css/main.css") }}">
{% endblock %}

{% block body %}


<div class="example-wrapper">
    <h1>Hello home page</h1>
</div>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto at corporis,
        culpa dignissimos enim, eum illum ipsa maxime
        numquam perspiciatis quidem quos saepe sunt tempora, ullam? Deleniti nihil similique voluptatibus!
    </p>
{% endblock %}
